@import "./adaptive/mobile.css";
@import "./adaptive/tablet.css";

.App {
  text-align: center;
  background-color: #282c34;
}

.App-back {
  height: auto;
  width: 100%;
  background-size: 150px;
}

@font-face {
  font-family: "CustomFont"; /* You can choose any name you want */
  src: url("./fonts/BlackOpsOne-Regular.ttf") format("truetype");
}

.App-logo {
  height: auto;
  width: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  padding: 10px 0;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 40px;
}

.menu-list li a {
  text-decoration: none;
  color: #19c0dd;
  transition: color 0.3s; /* Add a smooth transition for color change */
  font-family: "CustomFont", sans-serif;
}

.menu-list li a:hover {
  color: white;
  text-decoration: none;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh; /* This will make the content take up the full viewport height */
}

.display-2 {
  width: 50%;
  text-align: center;
  font-family: "CustomFont", sans-serif;
}

.display-4 {
  width: 50%;
  text-align: center;
  font-family: "CustomFont", sans-serif;
}

.display-3 {
  width: 80%;
  text-align: center;
  line-height: 2em;
  color: #d1eef7;
}

.calendar-center {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.vr-game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.game-card-image {
  width: 50vh;
  height: 30vh;
}
