@import "./adaptive/mobile.css";
@import "./adaptive/tablet.css";
@import "./components/BurgerMenu/BurgerMenu.css";

.App {
  text-align: center;
  background-color: #282c34;
}

.App-back {
  height: auto;
  width: 100%;
  background-size: 150px;
}

.Logo-block {
  position: absolute;
  top: 3;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 50%;
  align-items: center;
  margin: auto;
}

.small-logo {
  width: 20%;
}

.Big-logo {
  width: 10%;
}
.Big-text {
  width: 15%;
}

.column-1 {
  flex-grow: 1; /* Колонка будет занимать 1/4 от доступной ширины */
  flex-basis: 0; /* Сброс минимальной ширины */
  /* Дополнительные стили для второй колонки */
}

.small-text {
  height: 50%; /* Колонка будет занимать 1/4 от доступной ширины */

  /* Дополнительные стили для второй колонки */
}

@font-face {
  font-family: "CustomFont"; /* You can choose any name you want */
  src: url("./fonts/BlackOpsOne-Regular.ttf") format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .Big-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 3%;
  /* backdrop-filter: blur(10px); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  padding: 10px 0;
  z-index: 200;
}

.bg_image {
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 100vh;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 40px;
}

.menu-list li a {
  text-decoration: none;
  color: #19c0dd;
  transition: color 0.3s; /* Add a smooth transition for color change */
  font-family: "CustomFont", sans-serif;
  font-size: large;
}

.menu-list li a:hover {
  color: white;
  text-decoration: none;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #d1eef7;
}

.display-4 {
  width: 80%;
  text-align: center;
  font-family: "CustomFont", sans-serif;
  color: white;
  position: relative;
  font-size: 36px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  letter-spacing: 4px;
}

.display-4::before {
  content: attr(data-text); /* Get text content from data attribute */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Place below the original text */
  color: #ffd700; /* Bright yellow color for stroke */
  -webkit-background-clip: text; /* Apply text as background clip */
  background-clip: text;
  padding: 2px; /* Control the stroke width */
  opacity: 0.9; /* Adjust opacity for stroke effect */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); /* Increase the blur radius and opacity */
  letter-spacing: 4px; /* Adjust the letter spacing for the stroked text */
}

.display-2 {
  @extend .display-4;
  font-size: 24px;
  color: white;
  font-family: "CustomFont", sans-serif;
}

.display-3 {
  width: 80%;
  text-align: center;
  line-height: 2em;
  color: #d1eef7;
  margin-bottom: 50px;
}

.calendar-center {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.vr-game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.game-card-image {
  width: 50vh;
  height: 30vh;
}

.header-burger {
  background-color: transparent;
  border: none;
}

.home-container {
  margin-top: 4%;
}
