@import "./adaptive/mobile.css";
@import "./adaptive/tablet.css";

.App {
  text-align: center;
  background-color: #282c34;
}

.App-back {
  height: auto;
  width: 100%;
  background-size: 150px;
}

.Logo-block {
position: absolute;
top: 3;
left: 0;
  display: flex;
  flex-direction: row;
  width: 50%; 
  height: 50%; 
  align-items: center;
}

.small-logo {
  width: 20%;
  }


.Big-logo {
  width: 10%;
  }
  .Big-text {
    width: 15%;
    }

.column-1 {
  flex-grow: 1; /* Колонка будет занимать 1/4 от доступной ширины */
  flex-basis: 0; /* Сброс минимальной ширины */
  /* Дополнительные стили для второй колонки */
}

.small-text{
  height: 50%; /* Колонка будет занимать 1/4 от доступной ширины */
  
  /* Дополнительные стили для второй колонки */
}

@font-face {
  font-family: "CustomFont"; /* You can choose any name you want */
  src: url("./fonts/BlackOpsOne-Regular.ttf") format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .Big-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  /* backdrop-filter: blur(10px); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  padding: 10px 0;
}

.bg_image {
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 100vh;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 40px;
}

.menu-list li a {
  text-decoration: none;
  color: #19c0dd;
  transition: color 0.3s; /* Add a smooth transition for color change */
  font-family: "CustomFont", sans-serif;
  font-size:large;
}

.menu-list li a:hover {
  color: white;
  text-decoration: none;
}
.menu-link {
  text-decoration: none; /* Remove underline */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #d1eef7;
}

.display-2 {
  width: 80%;
  text-align: center;
  font-family: "CustomFont", sans-serif;
  
}

.display-4 {
  width: 80%;
  text-align: center;
  font-family: "CustomFont", sans-serif;
}

.display-3 {
  width: 80%;
  text-align: center;
  line-height: 2em;
  color: #d1eef7;
  margin-bottom: 50px;
}

.calendar-center {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.vr-game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.game-card-image {
  width: 50vh;
  height: 30vh;
}
